charset "utf-8";
*{
margin:0;
padding:0;
font-family: verdana;
scroll-behavior:smooth;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{

background:#fff;padding: 0px;margin: 0px;
}

/*logo*/
#logo{float: left;}
/*logo ends*/

#logo img{height: auto !important;width: 150px;}
/*buttons*/
.button{float :right;margin-top: 15px;}

.btn{
list-style: none;
display: inline-block;
float:right;

}





.btn-two {
text-decoration: none;
font-family: "Roboto", sans-serif;
font-weight: 400;
padding: 15px 30px;
font-size: 15px;
color: #fff;text-transform: uppercase;letter-spacing: 1px;
}

.btn:hover {
color: white;
transition: 0.8s all;
text-decoration-line: none;
 
}

/*buttons end*/

/* navigation  */
#wrapper {
width: 100%;float: left;margin-top: 0;}

nav {position: relative;z-index: 1010;margin-left: 80px;float: left;margin-top: 25px;}
nav ul{float : left;}


nav ul li {
list-style: none;
display: inline-block;

}

nav ul li a {text-decoration: none;font-family: "Roboto", sans-serif;font-weight: 400;padding:15px 20px;font-size:15px;color: #fff;text-transform: uppercase;letter-spacing: 1px;}

nav ul li a:hover{
color:white;text-decoration: none;

background-color: #f39d1a;
transition: 0.8s all;
}

nav ul li.active a {

background-color: orange;
}

   

/* navigation ends */


/* slider start */

#slider{width: 100%;float: left;position: relative;left:0px;top:0px;background-size: 100% 100%;height: 500px;overflow: hidden;}
#slider img{width: 100%;}

.text h2 {

margin-top:-300px; text-align:center;
 color:light orange;
 
font-size:40px;
font-style:bold;
}


/* slider end */
/* stories start */


#story{display:flex;flex-wrap:wrap;width: 100%;float: left;}
.img-res{width: 100%;}

/*hr {
width: 50%;
height: 1px;

border:none;
background-color:#666;
padding-left:50%;


}*/


.space{width: 31%;float: left;padding: 0px 10px;font-family: "Roboto", sans-serif;font-weight: 900;}
.space h3{font-size: 20px;line-height: 1.5;color: #333333;font-weight: 700;font-family: 'Playfair Display', serif;margin-bottom: 0px;margin-top: 10px;}
#stories .heading{margin-bottom: 25px;}


.story-desc{
font-size:13px;
font-family: "Roboto", sans-serif;font-weight: 400;color: #666666;
width:100%;
margin-top:15px;
   text-align: left;
line-height: 25px;
letter-spacing: .5px;

}
/* stories end */

/* Services start*/

.services{
width: 100%;float: left;padding:90px 0px;}



h2.section-title{
text-align:center;
color:#333333;
text-transform:capitalize;
font-size:35px;
/*text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);*/
text-decoration:none;
margin-bottom: 50px;font-family: 'Playfair Display', serif;margin-top: 0px;font-weight: 700;margin-bottom: 15px;
}
.subline{font-family: "Roboto", sans-serif;color: #808080;font-weight: 400;font-size: 16px;}

.services-container{display:flex;flex-wrap:wrap;margin-top:3%;width: 100%;float: left;}

.service-box{text-align:center;color:black;cursor:pointer;width: 31%;padding: 0px 10px;float: left;text-decoration: none;margin-bottom: 40px;}
/*.service-box:last-child{display: inline-block;margin: 0 auto;}*/

.service-box1{
text-align:center;
margin-left:10%;
color:black;
cursor:pointer;

}

.service-img{
display:inline-block;
width:70px;
height:70px;
margin-bottom:30px;
margin-top:16px;

}

.img-responsive{
background-position:absolute;
background-repeat:no-repeat;

height:100px; width:100px; border-radius:70px;
}


.service-title{
font-size:20px;
text-transform:capitalize;
margin-top:7%;
list-style: none;font-family: 'Playfair Display', serif;font-weight: 900;
text-decoration:none;color: #333333;

}

.service-desc{font-size:13px;float:left;width:100%;margin-top:5%;text-align: center;text-decoration:none;line-height: 25px;letter-spacing: .5px;
font-family: "Roboto", sans-serif;font-weight: 400;color: #666666;}
/* Services end*/

/*Background Image */



/*Background Image end */


/*About Us start*/
#design{

position: relative;
height:530px;
width:100%;float: left;
background: #000;
box-shadow: 0 25px 30px rgba(0,0,0,0.5);
display: flex;
color: #fff;
margin-bottom:5%;width: 100%;
}

.imageBox::after{width: 100%;height: 100%;position: absolute;left: 0px;top:0px;background-color: rgb(0,0,0, 0.2);content: '';}

.imageBox{
width: 100%;

background-image: url(images/galary2.jpg);
background-size:cover;
background-attachment:fixed;
height:100%;

box-sizing: border-box;
border-bottom: 400px solid transparent;
}
.desig_a h3{
padding-bottom: 10px;
}

.desig_a p{
font-size: 14px;
line-height: 23px;
}

.desig_a{
width: 25%;
float: left;
text-align: center;
position: relative;
top: 20%;

}






.terms h4{
text-align:left;
 font-family:'Roboto', sans-serif;
 
 text-transform: uppercase;
 color:#FBB800;
}



.address{
float:right;
width:500px;
padding-bottom:20px;

}
.address h4{
text-align:center;
 font-family:'Roboto', sans-serif;
 
 text-transform: uppercase;
 color:#FBB800;
}

.address p {
text-align:center;
color:white;
margin-right:5%;
}
.footer-grids h4 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;

}


.copyright {float:left;width:100%;text-align: center;padding: 15px 0px;}
.copyright p {color: #666;letter-spacing: 1px;text-align:center;font-family:'Roboto', sans-serif;font-size:12px;margin-bottom: 0px;}
.copyright p a {color: #fd5c63;text-align:center;}

.copyright p a:hover{
    color: #333;
}
/* footer ends */
/* Contact page starts */

#cont{


width: 100%;float: left;padding: 60px 0px;

}

#contact{
padding-bottom:3%;
width: 50%;float: left;
padding-top: 30px;
}

#contact h1{
padding-top:0%;font-family: 'Playfair Display', serif;color: #333333;font-weight: 700;
text-transform: capitalize;font-size: 25px; 
}

#contact p{
font-family: "Roboto", sans-serif;
color: #808080;
font-weight: 400;
font-size: 16px;
}

#contactus{
float:right;
width:350px;
margin-top:1%;
padding:0px 40px;
opacity:1;

}
.inputgroup{width: 100%;float: left;margin: 5px 0px;margin-bottom: 10px;}
.inputgroup input::placeholder{font-family: "Roboto", sans-serif;font-weight: 400;font-size: 13px;color: #000 !important;}
.inputgroup p input::textarea{font-family: "Roboto", sans-serif;font-weight: 400;font-size: 13px;color: #000 !important;}
.inputgroup.inputselect{width: 100%;}
.inputgroup.inputText{width: 100%;}
.inputgroup input {
  height: 40px;
  width: 100%;
  float:left;
  background-color: transparent;
    border: 1px solid #e0e1e2;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    outline: medium none;
    padding: 7px;font-family: "Roboto", sans-serif;font-weight: 400;font-size: 15px;color: #000 !important;
}
.cont_form .inputgroup p{float: left;margin: 0px;width: 100%;}
.inputgroup select{width: 100%;height: 43px;background-color: transparent;border: 1px solid #e0e1e2;font-family: "Roboto", sans-serif;font-weight: 400;font-size: 15px;color: #000 !important;}
.inputgroup select option{font-family: "Roboto", sans-serif;font-weight: 400;font-size: 15px;color: #000 !important;}
.inputgroup textarea {
  height: 80px;
  width: 100%;
  float:left;
  background-color: transparent;
    border: 1px solid #e0e1e2;
    color: #000;
margin-bottom:3%;
    font-size: 1rem;
    font-weight: 400;
    outline: medium none;font-family: "Roboto", sans-serif;font-weight: 400;font-size: 15px;
    padding: 7px;
}

.btnform {
text-align: center;
margin-top:0%;
border: 0px solid black;
padding: 15px 50px;
width:100%;
color: black;
text-decoration: none;
text-align:center;
font-size:13px;
text-transform: uppercase;
background-color: orange;font-family: "Roboto", sans-serif;font-weight: 900;

}

.btnform:hover{
background-color: #0009;
transition: all 0.5s ease-in;
color:white;

}

.cont_form form {
background: transparent;
width:100%;
 margin: 0px auto;
  padding: 0;
 
  border-radius: 7px;
 position:relative;
 margin-bottom:0;float: left;
}

#contactus h1{
text-align:center;
font-family: 'Playfair Display', serif;font-weight: 700;
 font-size:33px;
 text-transform: capitalize;
 color:#000;
}
#contactus p {
text-align:center;
font-family: "Roboto", sans-serif;

color: #808080;

font-weight: 400;

font-size: 16px;

}

/* Contact page end */

form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  background: #fff;
 position:relative;
 margin-bottom:5.2%;
}

.btn_form {
margin-left: 5px;
margin-top:3%;background-color: orange;
padding: 16px 60px;
color: black;
text-decoration: none;
text-align:center;border:0px;
font-size:13px;
text-transform: uppercase;font-family: "Roboto", sans-serif;font-weight: 700;
}

.btn_form:hover {
background-color: #000;color: #fff;
transition: all 0.5s ease-in;
}



/* admin panel */

.admin_panel p{
margin-top:5%;
text-align:center;
font-style:bold;
font-size: 30px;

}

.admin_panel h1{
	text-align:center;
	margin-bottom:3%;
	text-decoration:none;
	
}

table {
	
	border-collapse:collapse;
	width:100%;
	margin-bottom:5%;
	
}

td,th {
	text-align:center;
	padding:8px;font-family: "Roboto", sans-serif;font-weight: 500;
  width: 100%;
  float: left;
	
}
.packname{font-size: 36px;color: #140400;font-family: 'Playfair Display', serif;font-weight: 700;}
.packages td h6{font-size: 15px;color: #140400;font-family: "Roboto", sans-serif;font-weight: 600 !important;margin-bottom: 10px;}
.packages td ul{margin: 0px;padding: 0px;margin-left: 80px;}
.packages td ul li{list-style: none;font-family: "Roboto", sans-serif;font-weight: 500;width: 100%;float: left;text-align: left;padding-left: 28px;margin-bottom: 10px;
text-transform: uppercase;position: relative;}
.packages td ul li::before{position: absolute;left: 0px;top: 6px;background-image: url(./images/tick.svg);content: '';width: 16px;height: 16px;background-repeat: no-repeat;}
.pricetag{font-size: 30px;color: #000000;font-family: "Roboto", sans-serif;font-weight: 900;}

td .btn{font-family: "Roboto", sans-serif;font-weight: 400;background-color: #000;border: 0px;font-size: 15px;color: #fff;padding: 13px 30px !important;
border-radius: 0px;width: 100%;line-height: normal !important;}
td .btn:hover{background-color: orange;}

/*tr:nth-child(even) {
	
	background-color: #dddddd;
}*/

/* admin panel finish */


.container-fluid{max-width: 100%;padding: 0px 20px;margin-right: auto;margin-left: auto;}
.cusheader{width: 100%;float: left;padding: 25px 0px;position: relative;z-index: 1010;background-color: #000;}
.container{width: 1170px;margin: 0 auto;}
#stories{width: 100%;float: left;padding: 60px 0px;}

#section{background-image:url(images/parallax_1.jpg);background-size:cover;background-attachment:fixed;width: 100%;float: left;position: relative;}
#section::after{width: 100%;height: 100%;position: absolute;content: '';left: 0px;top: 0px;background-color: rgb(0,0,0, 0.7);}
.parallaxText{position: relative;z-index: 10;text-align: center;}
.parallaxText h3{font-family: 'Playfair Display', serif;font-weight: 700;font-size: 50px;margin: 0px;color: #fff;padding: 150px 0px;}

.footer{width: 100%;margin-top:auto;background-color:#222222;text-align:center;padding: 60px 0px;float: left;}
.terms{float:left;width:30%;padding: 0px 15px;}
.contact h4{text-align:left;font-family: 'Playfair Display', serif;font-weight: 700;text-transform: capitalize;color:#fff;margin-bottom: 25px;margin-top: 0px;}
.contact p {text-align:left; font-size:14px;color:white;line-height: 1.6em;font-family: "Roboto", sans-serif;font-weight: 300;}

.custitle{width: 100%;float: left;}
.cusregForms{width: 100%;float: left;}
.header{width: 30%;margin: 50px auto 0px;color: white;background: transparent;text-align: center;border: 0px solid black;border-bottom: none;padding: 20px;margin-bottom: 0px;
padding-bottom: 0px;}
.header h2{text-align: center;margin: 0px;
font-family: 'Playfair Display', serif;
font-weight: 700;
font-size: 33px;
text-transform: capitalize;
color: #000;}
.input-group label{display: block;text-align: left;margin: 3px;font-weight: bold;font-family: "Roboto", sans-serif;font-weight: 500;font-size: 15px;margin-bottom: 5px;}
.input-group input{height: 40px;
width: 100%;
float: left;
background-color: transparent;
border: 1px solid #e0e1e2;outline: medium none;
padding: 7px;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 15px;
color: #000 !important;}
.input-group{margin: 10px 0px 10px 0px;float: left;width: 100%;}
.input-group textarea{width: 100%;background-color: #fff;border: 1px solid #e0e1e2;color: #464748;font-family: 'PT Sans','sans-serif';font-size: 1.5rem;font-weight: 400;outline: medium none;padding: 7px;}
.loginbts{width: 100%;float: left;text-align: center;margin-bottom: 20px;}
.cusregForms p{font-family: "Roboto", sans-serif;font-weight: 400;font-size: 14px;}
.cusheadertitle{width: 100%;float: left;padding: 30px 0px;}
.cusheadertitle h1{font-family: "Roboto", sans-serif;font-weight: 900;}

.aboutcontent{padding: 60px 0px;}
.aboutcontent p{font-family: "Roboto", sans-serif;font-weight: 300;font-size: 15px;line-height: 1.5em;text-align: center;}

#newSlider{width: 100%;float: left;position: relative;overflow: hidden;}
#newSlider .sliderImg{width: 100%;float: left;height: 100vh;position: relative;}
.sliderImg::after{width: 100%;height: 100%;position: absolute;left: 0px;top: 0px;background-color: rgb(0,0,0, 0.5);content: '';}
nav ul{margin: 0px;padding: 0px;}
.slideText{position: absolute;width: 100%;height: 100vh;text-align: center;top: 40%;z-index: 1010}
.slideText h2{font-size: 100px;font-family: 'Playfair Display', serif;font-weight: 900;color: #fff;text-transform: uppercase;margin: 0px;letter-spacing: 8px;}
.slideText p{font-size: 19px;font-family: "Roboto", sans-serif;font-weight: 300;color: #fff;margin: 0px;}
.heading{width: 100%;float: left;text-align: center;margin-bottom: 25px;}

.serviceCol{width: 100% !important;float: left;}
.rightSidebar{float: right;width: 100%;padding-left: 25px;background-color: #000;padding: 25px;}
.ServiceDivide{width: 100%;float: left;text-align: center;}
.rightSidebar h3{font-size: 25px;font-family: 'Playfair Display', serif;font-weight: 900;color: #fff;margin-bottom: 25px;}
.rightSidebar ul{margin: 0px;padding: 0px;}
.rightSidebar ul li{list-style: none;margin-bottom: 10px;display: inline-block;margin: 0px 25px;}
.rightSidebar ul li a{font-size: 16px;font-family: "Roboto", sans-serif;font-weight: 300;color: #c1c1c1 !important;}
.rightSidebar ul li a:hover{color: #fcef24 !important;text-decoration: none;}
.kitchenSetimg{height: 50vh !important;}
.kitchenSetimg .slideText{top: 32%;}

.section{padding: 60px 0px;width: 100%;float: left;}
.aboutUsLoop{width: 100%;float: left;}
.abbox2{background-color: #222222;z-index: 1010;position: relative;}
.aboutUsLoop .row{z-index: 1010;position: relative;}
.aboutboxcontent.white h3, .aboutboxcontent.white h4, .aboutboxcontent.white p{color: #ececec !important;}
.aboutboxcontent h3{font-size: 14px;color: #666666;font-family: "Roboto", sans-serif;font-weight: 300;text-transform: uppercase;letter-spacing: 1.5px;margin-bottom: 0px;}
.aboutboxcontent h4{font-size: 50px;color: #333333;margin-bottom: 25px;font-family: 'Playfair Display', serif;font-weight: 900;}
.aboutboxcontent p{letter-spacing: .5px;font-size: 15px;
font-family: "Roboto", sans-serif;
font-weight: 400;color: #666666;}
.aboutboxImg img{width: 100%;}

.packages{width: 338px;height: auto;float: left;background-color: #f5f0e7;margin-bottom: 30px;padding: 30px;}
.priceList{padding: 60px 0px;width: 100%;float: left;}

/****cart***/
@import "compass/css3";

/*
I wanted to go with a mobile first approach, but it actually lead to more verbose CSS in this case, so I've gone web first. Can't always force things...

Side note: I know that this style of nesting in SASS doesn't result in the most performance efficient CSS code... but on the OCD/organizational side, I like it. So for CodePen purposes, CSS selector performance be damned.
*/

/* Global settings */
$color-border: #eee;
$color-label: #aaa;
$font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';


/* Global "table" column settings */
.product-image { float: left; width: 20%; }
.product-image img{max-width: 47px;}
.product-details { float: left; width: 37%; }
.product-price { float: left; width: 12%; }
.product-quantity { float: left; width: 10%; }
.product-removal { float: left; width: 9%; }
.product-line-price { float: left; width: 12%; text-align: right; }
.product-quantity input{width: 60%;}
.product-removal button{font-family: "Roboto", sans-serif;padding: 6px 11px;font-size: 14px;
font-weight: 400;color: #fff;background-color: #000;border:0px;}

/* This is used as the traditional .clearfix class */
.group:before,
.group:after {
    content: '';
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}


/* Apply clearfix in a few places */
.shopping-cart, .column-labels, .product, .totals-item {
  @extend .group;
}


/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}


/* Body/Header stuff */
body {
  font-family: $font-default;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

label {
  color: $color-label;
}

.shopping-cart {width: 100%;float: left;
}
.product-title {
      margin-right: 20px;
      font-family: "Roboto", sans-serif;font-weight: 400;
    }

.product-image{float: left;}
.column-labels label{color: #fff;font-family: "Roboto", sans-serif;font-weight: 500;}
.product .product-price{font-family: "Roboto", sans-serif;font-weight: 400;}
.product .product-line-price{font-family: "Roboto", sans-serif;font-weight: 400;}
.totals{width: 35% !important;float: right;background-color: #000;padding: 20px;}
.totals .totals-item{width: 100%;}
.cartButton{width: 100%;float: left;}

/* Column headers */
.column-labels {
  background-color: #000;padding: 15px;width: 100%;float: left;margin-bottom: 15px;
  label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $color-border;
  }
  
  .product-image, .product-details, .product-removal {
    text-indent: -9999px;
  }
}


/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border;
  width: 100%;float: left;
  
  .product-image {
    text-align: center;
    img {
      width: 100px;
    }
  }
  
  .product-details {
    .product-title {
      margin-right: 20px;
      font-family: "Roboto", sans-serif;font-weight: 700;
    }
    .product-description {
      margin: 5px 20px 5px 0;
      line-height: 1.4em;
    }
  }
  
  .product-quantity {
    input {
      width: 40px;
      
    }
  }
  
  .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: $font-bold;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .remove-product:hover {
    background-color: #a44;
  }
}


/* Totals section */
.totals {
  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    
    label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }
    
    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
    }
  }
  
  .totals-item-total {
    font-family: $font-bold;
  }
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #000;
  color: #fff;
  font-size: 20px;text-transform: uppercase;
  border-radius: 0px;font-family: "Roboto", sans-serif;
font-weight: 700;
}

.checkout:hover {
  background-color: orange;
}

.totals-item label{text-align: left;color: #fff;font-family: "Roboto", sans-serif;
font-weight: 400;}
.totals-item .totals-value{text-align: right;float: right;color: #fff;font-family: "Roboto", sans-serif;
font-weight: 400;}




.checkOut .container form{width: 100% !important;float: left;background-color: #eee;}
.checkOut h3{font-family: "Roboto", sans-serif;font-weight: 700;color: #000;}
.coTotal{width: 100%;float: left;background-color: #000;padding: 20px;}
.coTotal h4{font-family: "Roboto", sans-serif;font-weight: 700;color: #fff;margin-bottom: 18px;}
.coTotal p a{color: #fff;
font-family: "Roboto", sans-serif;
font-weight: 400;}
.coTotal p .price{color: #fff;
font-family: "Roboto", sans-serif;
font-weight: 400}
.lastTotal{font-family: "Roboto", sans-serif;font-weight: 700;color: #fff;}
.lastTotal .price b{font-family: "Roboto", sans-serif;font-weight: 700;color: #fff;}

.fdform{width: 100% !important;
float: left;padding: 20px;
background-color: #eee;}
.fdform label{font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 15px;}
.fdform input{width: 100%;
margin-bottom: 20px;
padding: 12px;
border: 1px solid #e0e1e2;
border-radius: 0px;}
.fdform textarea{width: 100%;
margin-bottom: 20px;
padding: 12px;
border: 1px solid #e0e1e2;
border-radius: 0px;}
.fdform input::placeholder{font-family: "Roboto", sans-serif;font-weight: 400;font-size: 13px;color: #000 !important;}
.fdform textarea::placeholder{font-family: "Roboto", sans-serif;font-weight: 400;font-size: 13px;color: #000 !important;}

.happyClients{width: 100%;float: left;background-color: #000;padding-bottom: 120px !important;}
.happyClients p{font-family: 'Playfair Display', serif;font-weight: 400;font-style: italic;color: #fff;text-align: center;line-height: 1.9;margin-bottom: 50px;}
.happyClients h2{color: #fff !important;}
.happyClients h6{font-family: "Roboto", sans-serif;font-weight: 400;font-size: 15px;color: #fff !important;text-align: center;}

.whitetitle{color: #fff !important;}
.ls_service .col-4{margin-bottom: 35px;}
.ls_service{background-color: #222222 !important;width: 100%;float: left;}


.fdbacks{width: 100%;float: left;background-color: orange;border-radius: 15px;margin-bottom: 25px;padding: 20px;}
.fdd form{width: 100% !important;background-color: transparent !important;}
.fdd button{background-color: #000 !important;border-radius: 0px !important;}

.fdloop{width: 100%;padding: 30px;background-color: orange;margin-left: 15px;margin-bottom: 15px;margin-bottom: 15px;display: inline-block;float: none;margin: 7.5px 0 !important;}
.fdcontent{-moz-column-count: 2;
-webkit-column-count: 2;
column-count: 2;
column-gap: 15px;
column-fill: initial;
width: 100%;}

.btn{border-radius: 0px;background-color: #000;padding: 8px 35px;}
.checkOut .btn{float: left;width: 100%;}

.product_name{font-family: "Roboto", sans-serif !important;font-weight: 500 !important;font-size: 27px !important;}

.sritems h3.title{font-family: "Roboto", sans-serif !important;font-weight: 500 !important;font-size: 20px !important;color: #000 !important;margin-top: 10px;margin-bottom: 50px !important;}
.sritems h3.title:hover{text-decoration: none;color: orange !important;}
.sritems a{text-decoration: none;}

#kitchen_stat{float: left; width: 100%;}
#kitchen_stat th, td {
    width: auto;
    float: none;
    text-align: left;
}
.table td, .table th{
  float: none;
  width: auto;
  text-align: left;
}

#add_edit_address{width: 100%;}
#add_edit_address .form-group{width: 100%;}
.adminpanel{width:70%;margin: 0 auto;}
.adminwhite{margin-top: 30%;background-color: rgb(255,255,255, 0.8);width: 100%;float: left;padding: 50px}
.amdinbg{width: 100%;float: left;background-image: url(images/parallax_1.jpg);height: 100vh;}
.amdinbg form{background-color: transparent;width: 100%;}
.amdinbg form .form-group{width: 100%;}
.amdinbg form .form-group input{border-color: #000 !important;border-radius: 0px;height: 40px;}
.amdinbg form .form-group button{border:none !important;}
.amdinbg form .form-group button:hover{background-color: orange;}

.sidebar-sticky ul .nav-item a{color: #000 !important;}

.thanksyou p{font-family: "Roboto", sans-serif;text-align: center;width: 100%;float: left;margin-bottom: 10px !important;
color: #808080;
font-weight: 400;
font-size: 16px;}

.myacc ul{background-color: #000;padding: 15px 0px;}
.myacc ul li{float: left;width: 100%;}
.myacc ul li a{color: #fff;float: left;}
#contact td a{color: #000;}
#add_edit_address .form-group button{float: left;}
#contact thead{background-color: #000;}
#contact thead tr th{color: #fff;}
#contact label{font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 15px;
margin-bottom: 5px;}
#contact input{height: 40px;
width: 100%;
float: left;
background-color: transparent;
border: 1px solid #e0e1e2;
outline: medium none;
padding: 7px;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 15px;
color: #000 !important;border-radius: 0px !important;}
#contact textarea{
width: 100%;
float: left;
background-color: transparent;
border: 1px solid #e0e1e2;
outline: medium none;
padding: 7px;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 15px;
color: #000 !important;border-radius: 0px !important;}

.cart-icon a{color: #fff !important;font-family: "Roboto", sans-serif;font-size: 14px;
font-weight: 300;}
.cart-icon{float: left;margin: 0px 10px;}
.topbar{width: 100%;float: left;background-color: orange;padding: 5px 0px;}
.topbar .float-right{float: right;margin-right: 25px;}

.happyClients button{position: absolute;bottom: -60px;color: #fff !important;background-color: orange;border:none;padding: 5px 15px;z-index: 1010;border-radius: 15px;}
.happyClients button.slick-next{left: 52%;}
.happyClients button.slick-prev {left: 42%;}
.happyClients #newSlider{overflow: unset !important;}

.sritems .item-img img{width: 100%;}
.single_product .product_quantity{border-radius: 0px;}
.single_product button{border:0px;}
.checkOut .btn{border:0px;}
.checkOut .btn:hover{background-color: orange !important;}
.cartservice .btn{border:0px;}
.cartservice .btn:hover{background-color: orange !important;}
#cont tbody a{color: #000;}

.coTotal p{ color: #fff;}
.checkOut .btn{
  width: auto;
}